node-red.json
[
    {
        "id": "112447a9b90249e3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "http-in",
        "type": "http in",
        "z": "112447a9b90249e3",
        "name": "",
        "url": "/process-data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "function-node"
            ]
        ]
    },
    {
        "id": "function-node",
        "type": "function",
        "z": "112447a9b90249e3",
        "name": "Process Message",
        "func": "const message = msg.payload.message;\nnode.warn(`Received message: ${message}`);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "debug-node",
                "http-response"
            ]
        ]
    },
    {
        "id": "debug-node",
        "type": "debug",
        "z": "112447a9b90249e3",
        "name": "Log Message",
        "active": true,
        "console": "false",
        "complete": "true",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 290,
        "wires": []
    },
    {
        "id": "http-response",
        "type": "http response",
        "z": "112447a9b90249e3",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 680,
        "y": 390,
        "wires": []
    }
]