simulation/flows.json
[{"id":"2db4c2eb33a80e37","type":"tab","label":"sPencase","disabled":false,"info":"","env":[]},{"id":"f58a7ef55ede23d1","type":"mqtt out","z":"2db4c2eb33a80e37","name":"sub/rgb","topic":"sub/rgb","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e75c7701770fa460","x":840,"y":60,"wires":[]},{"id":"63237f6e45552ea9","type":"switch","z":"2db4c2eb33a80e37","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sub/rgb","vt":"str"},{"t":"eq","v":"sub/neopixel","vt":"str"},{"t":"eq","v":"sub/servo","vt":"str"},{"t":"eq","v":"sub/sevenSegment","vt":"str"},{"t":"eq","v":"sub/buzzer","vt":"str"},{"t":"eq","v":"sub/lcd","vt":"str"},{"t":"eq","v":"sub/vibration","vt":"str"},{"t":"eq","v":"sub/button","vt":"str"},{"t":"eq","v":"phoneMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":570,"y":280,"wires":[["f58a7ef55ede23d1"],["a4ac33c8317adf91"],["018fad69ae144be0"],["fb213add90f520ad"],["c134ce158dc0afac"],["63f9e4085b3558aa"],["6e458c4cec85461d"],[],["1f5470ad51039380"]]},{"id":"a4ac33c8317adf91","type":"mqtt out","z":"2db4c2eb33a80e37","name":"sub/neopixel","topic":"sub/neopixel","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e75c7701770fa460","x":850,"y":120,"wires":[]},{"id":"018fad69ae144be0","type":"mqtt out","z":"2db4c2eb33a80e37","name":"sub/servo","topic":"sub/servo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e75c7701770fa460","x":840,"y":180,"wires":[]},{"id":"fb213add90f520ad","type":"mqtt out","z":"2db4c2eb33a80e37","name":"sub/sevenSegment","topic":"sub/sevenSegment","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e75c7701770fa460","x":870,"y":240,"wires":[]},{"id":"c134ce158dc0afac","type":"mqtt out","z":"2db4c2eb33a80e37","name":"sub/buzzer","topic":"sub/buzzer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e75c7701770fa460","x":850,"y":300,"wires":[]},{"id":"63f9e4085b3558aa","type":"mqtt out","z":"2db4c2eb33a80e37","name":"sub/lcd","topic":"sub/lcd","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e75c7701770fa460","x":840,"y":360,"wires":[]},{"id":"6e458c4cec85461d","type":"mqtt out","z":"2db4c2eb33a80e37","name":"sub/vibration","topic":"sub/vibration","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e75c7701770fa460","x":850,"y":420,"wires":[]},{"id":"fcfdde1c924239ca","type":"mqtt in","z":"2db4c2eb33a80e37","name":"","topic":"pub/potentiometer","qos":"2","datatype":"auto-detect","broker":"e75c7701770fa460","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":500,"wires":[["c73e8193f42bca69"]]},{"id":"b07c4da5d182ec5f","type":"mqtt in","z":"2db4c2eb33a80e37","name":"","topic":"pub/button","qos":"2","datatype":"auto-detect","broker":"e75c7701770fa460","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":560,"wires":[["c73e8193f42bca69"]]},{"id":"7383998d41e718d0","type":"mqtt in","z":"2db4c2eb33a80e37","name":"","topic":"pub/photoresistor","qos":"2","datatype":"auto-detect","broker":"e75c7701770fa460","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":620,"wires":[["c73e8193f42bca69"]]},{"id":"358f82e0590b630a","type":"mqtt in","z":"2db4c2eb33a80e37","name":"","topic":"pub/dht","qos":"2","datatype":"auto-detect","broker":"e75c7701770fa460","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":680,"wires":[["c73e8193f42bca69"]]},{"id":"216634bebc6898af","type":"mqtt in","z":"2db4c2eb33a80e37","name":"","topic":"pub/uvSensor","qos":"2","datatype":"auto-detect","broker":"e75c7701770fa460","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":740,"wires":[["c73e8193f42bca69"]]},{"id":"a7dcc685653a4485","type":"mqtt in","z":"2db4c2eb33a80e37","name":"","topic":"pub/tiltSensor","qos":"2","datatype":"auto-detect","broker":"e75c7701770fa460","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":800,"wires":[["c73e8193f42bca69"]]},{"id":"7968c6b523736312","type":"mqtt in","z":"2db4c2eb33a80e37","name":"","topic":"pub/ultrasonicSensor","qos":"2","datatype":"auto-detect","broker":"e75c7701770fa460","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":860,"wires":[["c73e8193f42bca69"]]},{"id":"c73e8193f42bca69","type":"json","z":"2db4c2eb33a80e37","name":"","property":"payload","action":"","pretty":false,"x":530,"y":680,"wires":[["a103bd2443779fc2"]]},{"id":"a103bd2443779fc2","type":"debug","z":"2db4c2eb33a80e37","name":"Request result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":680,"wires":[]},{"id":"601b6e4ad469a2c1","type":"http request","z":"2db4c2eb33a80e37","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.pushsafer.com/api?k=JBmecGVQ8v0zioaUPrNJ&m={{payload}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1150,"y":520,"wires":[[]]},{"id":"1f5470ad51039380","type":"function","z":"2db4c2eb33a80e37","name":"Convert phone message","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":520,"wires":[["601b6e4ad469a2c1"]]},{"id":"656799e43dc12093","type":"inject","z":"2db4c2eb33a80e37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sub/buzzer","payload":"5","payloadType":"str","x":230,"y":420,"wires":[["63237f6e45552ea9"]]},{"id":"cff25f0b6145bb0b","type":"inject","z":"2db4c2eb33a80e37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sub/buzzer","payload":"4","payloadType":"str","x":230,"y":360,"wires":[["63237f6e45552ea9"]]},{"id":"41b4e66cb20aa361","type":"inject","z":"2db4c2eb33a80e37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sub/buzzer","payload":"3","payloadType":"str","x":230,"y":300,"wires":[["63237f6e45552ea9"]]},{"id":"e85f2c7dce5ed3cc","type":"inject","z":"2db4c2eb33a80e37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sub/buzzer","payload":"2","payloadType":"str","x":230,"y":240,"wires":[["63237f6e45552ea9"]]},{"id":"bba31ff524fc6891","type":"inject","z":"2db4c2eb33a80e37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sub/buzzer","payload":"1","payloadType":"str","x":230,"y":180,"wires":[["63237f6e45552ea9"]]},{"id":"d72183de72bb680f","type":"inject","z":"2db4c2eb33a80e37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sub/buzzer","payload":"0","payloadType":"str","x":230,"y":120,"wires":[["63237f6e45552ea9"]]},{"id":"e75c7701770fa460","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]